.app-name, .search-input {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
}

.top-bar {
  position: absolute;
  width: 1280px;
  height: 65px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 664px;
  background: rgba(255, 255, 255, 0);
}

.app-name {
  width: 227px;
  height: 33px;
  left: 50px;
  right: 1003px;
  top: 16px;
  bottom: 16px;
  font-size: 25px;
  line-height: 33px;
}

.search-bar {
  position: absolute;
  width: 400px;
  height: 50px;
  left: 440px;
  right: 440px;
  top: 7px;
  bottom: 8px;
  border-radius: 45px;
  text-align: left;
  background: rgb(29, 28, 31);
}

.search-input {
  all: unset;
  align-items: left;
  position: absolute;
  width: 340px;
  word-wrap: unset;
  height: 31px;
  left: 50px;
  top: 9px;
  bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 24px;
}

.search-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 3%;
  top: 20%;
  border-radius: 50%;
}

.calendar-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5.33px;
  top: 14.67px;
}

.location-icon {
  position: absolute;
  width: 17.72px;
  height: 21.53px;
  left: 5.33px;
  top: 43px;
}