.air-quality-index {
  width: 196px;
  height: 28px;
  left: 29px;
  right: 167px;
  top: 11px;
  bottom: 141px;
}

.pm {
  width: 47px;
  height: 28px;
  left: 100px;
  right: 245px;
  top: 62px;
  bottom: 90px;
}

.so {
  width: 36px;
  height: 28px;
  left: 178px;
  right: 178px;
  top: 62px;
  bottom: 90px;
}

.no {
  width: 36px;
  height: 28px;
  left: 245px;
  right: 111px;
  top: 62px;
  bottom: 90px;
}

.o3 {
  width: 36px;
  height: 28px;
  left: 314px;
  right: 42px;
  top: 62px;
  bottom: 90px;
}

.sunrise-sunset {
  width: 129px;
  height: 28px;
  left: 29px;
  right: 234px;
  top: 11px;
  bottom: 141px;
}

.sunrise-text {
  width: 64px;
  height: 28px;
  left: 67px;
  right: 261px;
  top: 62px;
  bottom: 90px;
}

.sunset-text {
  width: 94px;
  height: 28px;
  left: 238px;
  right: 60px;
  top: 62px;
  bottom: 90px;
}

.pressure-text {
  width: 129px;
  height: 28px;
  left: 29px;
  right: 38px;
  top: 11px;
  bottom: 83px;
}

.humidity-text {
  width: 129px;
  height: 28px;
  left: 29px;
  right: 23px;
  top: 11px;
  bottom: 83px;
}

.visibility-text {
  width: 129px;
  height: 28px;
  left: 29px;
  right: 23px;
  top: 11px;
  bottom: 83px;
}

.feels-like-text {
  width: 153px;
  height: 28px;
  left: 29px;
  right: 14px;
  top: 11px;
  bottom: 83px;
}

.weather-detail {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.18);
  position: absolute;
}

.surf1 {
  width: 392px;
  height: 180px;
  left: 30px;
  right: 452px;
  top: 60px;
  bottom: 174px;
}

.surf2 {
  width: 392px;
  height: 180px;
  left: 452px;
  right: 30px;
  top: 60px;
  bottom: 174px;
}

.surf3 {
  width: 196px;
  height: 110px;
  left: 30px;
  right: 648px;
  top: 265px;
  bottom: 39px;
}

.surf4 {
  width: 181px;
  height: 110px;
  left: 241px;
  right: 452px;
  top: 265px;
  bottom: 39px;
}

.surf5 {
  width: 181px;
  height: 110px;
  left: 452px;
  right: 241px;
  top: 265px;
  bottom: 39px;
}

.surf6 {
  width: 196px;
  height: 110px;
  left: 648px;
  right: 30px;
  top: 265px;
  bottom: 39px;
}

.air-quality-index ,
.pm,
.so,
.no,
.o3,
.sunrise-sunset,
.sunrise-text,
.sunset-text,
.pressure-text,
.humidity-text,
.visibility-text,
.feels-like-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: JetBrains Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  position: absolute;
}

.rise-time,
.set-time,
.pressure-value,
.humidity-value,
.visibility-value,
.feels-like-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: JetBrains Mono;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: right;
  position: absolute;
}

.weather-surface {
  position: absolute;
  width: 874px;
  height: 414px;
  left: 365px;
  right: 41px;
  top: 91px;
  bottom: 224px;
  border-radius: 45px;
  background: rgb(29, 28, 31);
}

.weather-conditions-text {
  position: absolute;
  width: 200px;
  height: 35px;
  left: 30px;
  right: 644px;
  top: 15px;
  bottom: 364px;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}

.rise-time {
  width: 129px;
  height: 30px;
  left: 67px;
  right: 196px;
  top: 102px;
  bottom: 50px;
  font-size: 40px;
  line-height: 53px;
}

.set-time {
  width: 154px;
  height: 30px;
  left: 238px;
  right: 0;
  top: 104px;
  bottom: 48px;
  font-size: 40px;
  line-height: 53px;
}

.pressure-value {
  width: 129px;
  height: 28px;
  left: 56px;
  right: 11px;
  top: 61px;
  bottom: 33px;
  font-size: 28px;
  line-height: 37px;
}

.humidity-value {
  width: 74px;
  height: 28px;
  left: 96px;
  right: 11px;
  top: 61px;
  bottom: 33px;
  font-size: 28px;
  line-height: 37px;
}

.visibility-value {
  width: 74px;
  height: 28px;
  left: 93px;
  right: 14px;
  top: 61px;
  bottom: 33px;
  font-size: 28px;
  line-height: 37px;
}

.feels-like-value {
  width: 74px;
  height: 28px;
  left: 98px;
  right: 24px;
  top: 61px;
  bottom: 33px;
  font-size: 28px;
  line-height: 37px;
}

.pressure-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 6%;
  right: 73%;
  top: 45.08%;
  bottom: 22%;
}

.humidity-icon {
  position: absolute;
  width: 40px;
  height: 50px;
  left: 16.02%;
  right: 64%;
  top: 45.7%;
  bottom: 25%;
}

.visibility-icon {
  position: absolute;
  width: 60px;
  height: 40px;
  left: 7%;
  right: 59%;
  top: 44%;
  bottom: 22%;
}

.air-index-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 7.4%;
  right: 81%;
  top: 50%;
  bottom: 25%;
}

.temp-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 10%;
  right: 66%;
  top: 42%;
  bottom: 20%;
}

.rise-time-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 83%;
  top: 51%;
  bottom: 25%;

}

.set-time-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 49%;
  top: 52%;
  bottom: 23%;

}

.index {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 272px;
  top: 13px;

  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  align-items: center;

  background: rgba(255, 255, 255, 0);

  color: rgb(255, 255, 255);
  font-family: JetBrains Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}

.pm_ {
  left: 96px;
}

.so_ {
  left: 166px;
}

.no_ {
  left: 236px;
}

.o3_ {
  left: 308px;
}

.value {
  position: absolute;
  width: 45px;
  height: 40px;
  top: 101px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgb(255, 255, 255);
  font-family: JetBrains Mono;
  font-size: 19px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: center;
}